<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Monedas</ion-title>
  </ion-navbar>
</ion-header>
<!-- padding -->
<ion-content>

  <form #frmMoneda="ngForm" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Moneda Principal</ion-label>
            <!-- (ionChange) -->
            <ion-select #cboMoneda  name="cboMoneda" [(ngModel)]="monedaDefault.id" (ngModelChange)="changeMoneda($event)">
              <ion-option *ngFor="let moneda of monedas" value="{{moneda.id}}">
                {{moneda.nombre | uppercase}} ({{moneda.codigo1 | uppercase}})
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
