<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{prestamo.isTipoOperacionPresto() ? 'Préstamo Nuevo' : 'Deuda Nueva'}}</ion-title>
  </ion-navbar>
</ion-header>
<!-- padding -->
<ion-content>
  <form #frmPrestamo="ngForm" (ngSubmit)="guardarPrestamo(frmPrestamo)">
    <ion-grid>
      <ion-row>

        <ion-col col-4>
          <ion-item>
            <ion-icon *ngIf="false" name="person" item-left></ion-icon>
            <ion-label floating>Tipo</ion-label>

            <ion-select #tipoOperacion required name="tipoOperacion" [(ngModel)]="prestamo.tipoOperacion" disabled="true">
              <ion-option *ngFor="let parametroDet of tiposOperaciones" value="{{parametroDet.id}}">
                {{parametroDet.nombre | uppercase}}
              </ion-option>
            </ion-select>
          </ion-item>

        </ion-col>

        <ion-col col-8>
          <ion-item>
            <ion-label floating> {{prestamo.tipoOperacion=="01" ? 'Deudor' : 'Acreedor'}}</ion-label>
            <ion-input ngControl="txtContactoName" required="required" minlength="3" type="text" name="contacto.nombre" [(ngModel)]="contacto.nombre"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Moneda</ion-label>
            <ion-select #moneda required name="moneda" [(ngModel)]="prestamo.moneda" disabled="true">
              <ion-option *ngFor="let parametroDet of monedas" value="{{parametroDet.id}}">
                {{parametroDet.nombre | uppercase}} ({{parametroDet.codigo1 | uppercase}})
              </ion-option>
            </ion-select>
          </ion-item>

        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Monto</ion-label>
            <ion-input #txtMonto  type="number" name="monto" [(ngModel)]="prestamo.monto"></ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Comentario</ion-label>
            <ion-input type="text" name="comentario" [(ngModel)]="prestamo.comentario"></ion-input>
          </ion-item>

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Fecha Prestamo</ion-label>
            <ion-datetime name="fechaPrestamo" displayFormat="D MMM YYYY" [(ngModel)]="prestamo.fechaPrestamo"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label floating>Fecha Vencimiento</ion-label>
            <ion-datetime name="fechaVencimiento" displayFormat="D MMM YYYY" [(ngModel)]="prestamo.fechaVencimiento"></ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col *ngIf="false">
          <ion-item>
            <ion-label>Enviar mensaje SMS al vencer</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Teléfono Movil</ion-label>
            <ion-input  type="tel" name="contacto.telefonoMovil" [(ngModel)]="contacto.telefonoMovil"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>



  </form>

</ion-content>

<ion-footer>
  <ion-toolbar no-padding color="dark">
    <ion-row no-padding>

      <ion-col col-6 no-padding>
        <button ion-button no-padding full color="dark" type="button" (click)="cancelar()" novalidate>Cancelar</button>
      </ion-col>

      <ion-col col-6 no-padding no-padding>
        <button ion-button no-padding full color="dark" (click)="frmPrestamo.ngSubmit.emit()" type="button">Guardar</button>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
