<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>
<!-- padding -->
<ion-content>


  <ion-list>
    <ion-item-divider color="light">Mis Préstamos</ion-item-divider>

    <ion-item>

      <ion-icon name="md-checkmark-circle" color="secondary" item-left large></ion-icon>
      <h2>
        Pagados
      </h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenPrestamos[estadoPrestamoParametroCons.PAGADO.id].cantidad}} Préstamos
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenPrestamos[estadoPrestamoParametroCons.PAGADO.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>

      <ion-icon name="ios-alarm" color="primary" item-left large></ion-icon>

      <h2>Pendientes</h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenPrestamos[estadoPrestamoParametroCons.PENDIENTE.id].cantidad}} Préstamos
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenPrestamos[estadoPrestamoParametroCons.PENDIENTE.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>

      <ion-icon name="ios-alarm" color="danger" item-left large></ion-icon>

      <h2>Vencidos</h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenPrestamos[estadoPrestamoParametroCons.VENCIDO.id].cantidad}} Préstamos
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenPrestamos[estadoPrestamoParametroCons.VENCIDO.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item-divider color="light">Mis Deudas</ion-item-divider>

    <ion-item>

      <ion-icon name="md-checkmark-circle" color="secondary" item-left large></ion-icon>

      <h2>Pagadas</h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenDeudas[estadoPrestamoParametroCons.PAGADO.id].cantidad}} Deudas
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenDeudas[estadoPrestamoParametroCons.PAGADO.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>

      <ion-icon name="ios-alarm" color="primary" item-left large></ion-icon>

      <h2>Pendientes</h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenDeudas[estadoPrestamoParametroCons.PENDIENTE.id].cantidad}} Deudas
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenDeudas[estadoPrestamoParametroCons.PENDIENTE.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>

      <ion-icon name="ios-alarm" color="danger" item-left large></ion-icon>

      <h2>Vencidas</h2>
      <ion-row no-padding>
        <ion-col no-padding text-left>
          {{resumenDeudas[estadoPrestamoParametroCons.VENCIDO.id].cantidad}} Deudas
        </ion-col>

        <ion-col no-padding text-right>
          {{monedaDefault.simbolo1}} {{resumenDeudas[estadoPrestamoParametroCons.VENCIDO.id].monto}}
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

</ion-content>
