<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{isTipoOperacionPresto() ? 'Mis Préstamos' : 'Mis Deudas'}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-searchbar *ngIf="false" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list *ngIf="prestamos.length>0">
    <ion-item *ngFor="let prestamo of prestamos;let ind = index;" (click)="clickItem(prestamo)">

      <ion-icon name="{{prestamo.icon()}}" color="{{prestamo.color()}}" item-left large></ion-icon>
      <p>{{prestamo.isTipoOperacionPresto() ? 'Deudor' : 'Acreedor'}}</p>
      <h2> {{prestamo.contacto.nombre}}</h2>
      <p *ngIf="prestamo.isEstadoPendiente() || prestamo.isEstadoVencido()">Vence en {{prestamo.fechaVencimiento | date:'dd/MMMM/y '}}</p>
      <p *ngIf="prestamo.isEstadoPagado()">Pagado en {{prestamo.fechaPago | date:'dd/MMMM/y '}}</p>

      <ion-note item-right small>
        {{monedaDefault.simbolo1}} {{prestamo.monto | number : '1.2-2'}}
      </ion-note>
      <button *ngIf="false" ion-button clear item-right>Ver</button>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="prestamos.length==0">
    <ion-card-content>
      {{isTipoOperacionPresto() ? 'Sin préstamos registrados' : 'Sin deudas registradas'}}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab right bottom>
  <button ion-fab color="light" (click)="nuevoPrestamo()">
    <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
</ion-fab>
